@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin './hero.ts';

@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@config "../tailwind.config.js";

:root {
    --color-chart-primary: #3B82F6;
    --color-chart-bg: #EEEEEE;
}

.dark {
    --color-chart-primary: #60A5FA;
    --color-chart-bg: #374151;
}

@layer utilities {
     .custom-scrollbar {
          scrollbar-width: thin;
          scrollbar-color: rgba(156, 163, 175, 0.5) transparent;
     }

     .custom-scrollbar::-webkit-scrollbar {
          width: 6px;
          height: 6px;
     }

     .custom-scrollbar::-webkit-scrollbar-track {
          background: transparent;
          border-radius: 3px;
     }

     .custom-scrollbar::-webkit-scrollbar-thumb {
          background: rgba(156, 163, 175, 0.5);
          border-radius: 3px;
     }

     .custom-scrollbar::-webkit-scrollbar-thumb:hover {
          background: rgba(156, 163, 175, 0.7);
     }

     /* custom scrollbar 2 */
     .custom-scrollbar-2 {
          scrollbar-width: none;
     }

     .custom-scrollbar-2:hover {
          scrollbar-width: thin;
          scrollbar-color: rgba(156, 163, 175, 0.15) transparent;
     }

     .custom-scrollbar-2::-webkit-scrollbar {
          width: 2px;
          height: 2px;
          opacity: 0;
          transition: opacity 0.3s ease;
     }

     .custom-scrollbar-2:hover::-webkit-scrollbar {
          opacity: 1;
     }

     .custom-scrollbar-2::-webkit-scrollbar-track {
          background: transparent;
          border-radius: 1px;
     }

     .custom-scrollbar-2::-webkit-scrollbar-thumb {
          background: rgba(156, 163, 175, 0.15);
          border-radius: 1px;
     }

     .custom-scrollbar-2::-webkit-scrollbar-thumb:hover {
          background: rgba(156, 163, 175, 0.25);
     }

     /* custom scrollbar 3*/
     .custom-scrollbar-3 {
          scrollbar-width: none; /* Firefox */
          -ms-overflow-style: none; /* IE and Edge */
     }

     .custom-scrollbar-3::-webkit-scrollbar {
          display: none; /* Chrome, Safari and Opera */
     }
}

@layer base {
     /* Scrollbar styles for the whole page */
     ::-webkit-scrollbar {
          width: 8px; /* Width of the scrollbar */
          height: 8px; /* Height of the scrollbar for horizontal scrolling */
     }

     /* Track */
     ::-webkit-scrollbar-track {
          background: #f1f1f1; /* Light gray track */
          border-radius: 10px;
     }

     /* Handle (the draggable part) */
     ::-webkit-scrollbar-thumb {
          background: #888; /* Dark gray handle */
          border-radius: 10px;
     }

     /* Handle on hover */
     ::-webkit-scrollbar-thumb:hover {
          background: #555; /* Even darker gray on hover */

          /* :root {
               --rechart-bar-fill: #cae2fcff;
               --rechart-bar-background: #5586c0ff;
          }
          .dark {
               --rechart-bar-fill: #132742ff;
               --rechart-bar-background: #93b1d5ff;
          } */
     }
}

@theme {
     --font-roboto: "Roboto", sans-serif;
}
